@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="crochê, artesanato, bolsas de crochê, bolsas, decoração">
    <meta name="description" content="Artesanato em crochê: bolsas e decoração">

    <title>@ViewData["Title"] - crocheta</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Crocheta.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="banner">
                <a asp-controller="Home" asp-action="Index"><img height=200px; src="Imagens/logo_crocheta.png" alt="Logo da crocheta"></a>
                        <input style="width: 300px; height: 40px" type="text" placeholder="Busca" id="buscar">
                <a href="https://www.instagram.com/crochetadesign/"><img height=30px; src="Imagens/instagram.png" alt="Ícone Instagram"></a>
                <a href="https://api.whatsapp.com/send?phone=5548991469399&text=Ol%C3%A1%3F%20Como%20fa%C3%A7o%20para%20adquirir%20uma%20pe%C3%A7a%20Crocheta%3F"><img height=30px; src="Imagens/whatsapp.png" alt="Ícone Whatsapp"></a>
 
                @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div> *@
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="rodapé">
        <div class="container">
            &copy; 2023 - crocheta <a asp-area="" asp-controller="Home" asp-action="SobreMim">sobre mim</a>
            <a asp-area="" asp-controller="Home" asp-action="Contato">contato</a>
            <a asp-area="" asp-controller="Usuario" asp-action="Login">login</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
