@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="crochê, artesanato, bolsas de crochê, bolsas, decoração">
    <meta name="description" content="Artesanato em crochê: bolsas e decoração">

    <title>@ViewData["Title"] - crocheta</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Crocheta.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="container-fluid">
            <div class="banner row">
                    <div class=col-10>
                        <a asp-controller="Home" asp-action="Index"><img height=200px; src="../Imagens/logo_crocheta.png" alt="Logo da crocheta"></a>
                    </div>
                    <div class="col-2">
                        <a href="https://www.instagram.com/crochetadesign/"><img class="insta" height=30px; src="../Imagens/instagram.png" alt="Ícone Instagram"></a>
                        <a href="https://api.whatsapp.com/send?phone=5548991469399&text=Ol%C3%A1%3F%20Como%20fa%C3%A7o%20para%20adquirir%20uma%20pe%C3%A7a%20Crocheta%3F"><img height=30px; src="../Imagens/whatsapp.png" alt="Ícone Whatsapp"></a>
                    </div>
            </div>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="row">
        <p class="col">&copy; 2023 - crocheta</p>
        <a class="col" asp-area="" asp-controller="Home" asp-action="SobreMim">sobre mim</a>
        <a class="col" asp-area="" asp-controller="Home" asp-action="Contato">contato</a>
        <a class="col" asp-area="" asp-controller="Usuario" asp-action="Login">login</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
