@{
    ViewData["Title"] = "bolsas";
}

<div class="conjuntoProdutos">
    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Bolsas"><img src="/Imagens/Bolsa10.jpeg" class="imagem" alt="Bolsa Urucum Color"></a>

        <div class="descricaoProduto">
            <h4>Urucum Color</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Bolsas"><img src="/Imagens/Clutch1Small.jpeg" class="imagem" alt="Canela Bege"></a>

        <div class="descricaoProduto">
            <h4>Canela Bege</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Bolsas"><img src="/Imagens/Bolsa14Small.jpeg" class="imagem" alt="Bolsa Urucum Verde"></a>

        <div class="descricaoProduto">
            <h4>Urucum Verde</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Bolsas"><img src="/Imagens/Bolsa11Small.jpeg" class="imagem" alt="Bolsa Araçá Verde"></a>

        <div class="descricaoProduto">
            <h4>Araçá Verde</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Bolsas"><img src="/Imagens/Bolsa4Small.jpeg" class="imagem" alt="Bolsa Laranjeira Nude"></a>

        <div class="descricaoProduto">
            <h4>Laranjeira Nude</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Bolsas"><img src="/Imagens/Bolsa9Small.jpeg" class="imagem" alt="Bolsa Pimenta Bege"></a>

        <div class="descricaoProduto">
            <h4>Pimenta Bege</h4>
        </div>
    </div>
</div>