@{
    ViewData["Title"] = "Cursos";
}
    <div align="center">
        <img class="imagem" src="/Imagens/Bandeirinhas.jpeg" size="40%">
        <br>
        <br>
        <h2>Em breve, novíssimos cursos,</h2> 
        <h2>com a qualidade crocheta!</h2>
        <br>
        <br>
    </div>
