@{
    ViewData["Title"] = "home & decor";
}

<div class="conjuntoProdutos">
    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="HD"><img src="/Imagens/Bandeja1Small.jpeg" class="imagem" alt="Bandeja"></a>

        <div class="descricaoProduto">
            <h4>bandejas</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="HD"><img src="/Imagens/Apanhador2Small.jpeg" class="imagem" alt="Apanhador de Sonhos"></a>

        <div class="descricaoProduto">
            <h4>apanhador de sonhos</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="HD"><img src="/Imagens/Cesto1Small.jpeg" class="imagem" alt="Porta Coisas"></a>

        <div class="descricaoProduto">
            <h4>cesto</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="HD"><img src="/Imagens/Cachepo7Small.jpeg" class="imagem" alt="Cachepô"></a>

        <div class="descricaoProduto">
            <h4>cachepô</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="HD"><img src="/Imagens/JogoAmericanoSmall.jpeg" class="imagem" alt="Sousplat"></a>

        <div class="descricaoProduto">
            <h4>sousplat</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="HD"><img src="/Imagens/Porta-copos1Small.jpeg" class="imagem" alt="Porta-copos"></a>

        <div class="descricaoProduto">
            <h4>porta-copos</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="HD"><img src="/Imagens/SinosSmall.jpeg" class="imagem" alt="Sinos"></a>

        <div class="descricaoProduto">
            <h4>sinos</h4>
        </div>
    </div>

    <div class="produto">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="HD"><img src="/Imagens/PortaPanetoneSmall.jpeg" class="imagem" alt="Porta-panettone"></a>

        <div class="descricaoProduto">
            <h4>porta-panettone</h4>
        </div>
    </div>
</div>