@{
    ViewData["Title"] = "home";
}

<div class="conjuntoProdutos">
    <div class="produto">
        <a asp-area="" asp-controller="Home" asp-action="Bolsas"><img src="/Imagens/Bolsa10.jpeg" class="imagem" alt="Bolsa Urucum Color"></a>

        <div class="descricaoProduto">
            <h4>bolsas</h4>
        </div>
    </div>

    <div class="produto">
        <a asp-area="" asp-controller="Home" asp-action="HD"><img src="/Imagens/Bandeja5Small.png" class="imagem" alt="Bandeja"></a>

        <div class="descricaoProduto">
            <h4>home & decor</h4>
        </div>
    </div>

    <div class="produto">
        <a asp-area="" asp-controller="Home" asp-action="Cursos"><img src="/Imagens/AgulhasSmall.jpeg" class="imagem" alt="Agulhas de crochê"></a>

        <div class="descricaoProduto">
            <h4>cursos</h4>
        </div>
    </div>
</div>