@{
    ViewData["Title"] = "sobre mim";
}
@* <h1>@ViewData["Title"]</h1> *@

<div class="sobreMim">
    <div class="container-grid">
        <div align="center" width="60%"" class="row">
            <img src="/Imagens/Fabi1Small.jpeg" class="imagem" alt="Fabíola">
        </div>
        <br>
        <br>
        <br>
        <div class="row" width="60%">
            <p>Arteira de nascença, nascida em Santa Catarina, farmacêutica de formação e desde sempre, apaixonada por trabalhos manuais.</p>
            <p>Aprendi, ainda criança, a arte da crochetaria com minhas queridas avós Izaura, Ignez e minha amada mãe Sonia.</p>
            <p>Hoje, procuro expressar minha afetividade e essência, através de cada produto da crocheta, sonhados para todos aqueles que também acreditam ser o essencial invisível aos olhos.</p>
            <br>
            <br>
            <br>
            <p align="right">Com carinho, Fabíola Pozza Korndorfer.</p>
        </div>
    </div>
</div>