/* _content/Crocheta/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.banner[b-j1f5pxmysi] {
  text-align: center;
  display: flex;
  align-items: center;
  width: 90%;
}

/* .rodape {
  justify-content:space-evenly;
  display: flex;
} */

a.navbar-brand[b-j1f5pxmysi] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-j1f5pxmysi] {
  color: #7A8978;
}

.btn-primary[b-j1f5pxmysi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-j1f5pxmysi], .nav-pills .show > .nav-link[b-j1f5pxmysi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-j1f5pxmysi] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-j1f5pxmysi] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-j1f5pxmysi] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-j1f5pxmysi] {
  font-size: 1rem;
  line-height: inherit;
}

